.main {
  background-color: white;
  height: 80vh;
  padding: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  overflow-y: auto;
}

.main h2 {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}