.main {
  display: flex;
}

.container {
  margin: 0;
  width: 50%;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  padding: 120px;
  justify-content: center;
}

.copyright {
  margin: 0;
  padding-left: 40px;
  height: 40px;
}

.authForm {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  gap: 12px;
}

.notice {
  color: red;
  font-weight: 600;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}

.imageContainer h1 {
  font-size: 1.8em;
}
