.contact_page {
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 40px;
  padding-top: 5%;
}

.contactus_text {
  border-bottom: 1px solid rgb(201, 201, 201);
}

.contactus_text h1 {
  padding-bottom: 0px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 900px) {
  .contact_page {
    padding-top: 13%;
  }
}
