.contact_page {
  margin-left: 50px;
  margin-bottom: 40px;
}

.contactus_text {
  border-bottom: 1px solid rgb(201, 201, 201);
  margin-right: 40px;
}

.contactus_text h1 {
  padding-bottom: 0px;
  margin-bottom: 10px;
}
