.footer_main {
  background-color: rgb(55, 122, 181);
  padding: 1em 6em;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.info {
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer_text {
  display: flex;
  align-items: center;
  gap: 4em;
  margin-left: 4em;
  width: calc(100% - 260px);
  line-height: 1.8;
}

.contact_details {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.contact_details a {
  text-decoration: none;
  color: white;
}

.line {
  width: 100%;
  border-bottom: 1px solid #bbb;
}

.logos {
  display: flex;
  gap: 2em;
  width: 260px;
}

.copyright {
  margin-top: 2em;
  font-size: 14px;
}

.action {
  display: inline-block;
  margin: 0;
}

.actionContainer {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

.action:after {
  display: block;
  content: "";
  border-bottom: solid 2px #fff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.action:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

@media only screen and (max-width: 900px) {
  .info {
    flex-direction: column;
  }
  .footer_text {
    display: flex;
    gap: 0em;
    flex-direction: column;
    margin-left: 0;
    width: 100%;
  }
  .footer_main {
    padding: 1em 0em;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
  }
  .logos {
    justify-content: space-between;
  }
  .copyright {
    margin-left: 10px;
    margin-right: 10px;
  }
}
