@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background: #f6f9fc;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  margin-top: 100px;
  height: 900px;
  margin-left: 30px;
  margin-right: 30px;
}
