@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background: #f6f9fc;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  padding-left: 30px;
  padding-right: 30px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.unauthorized {
  height: calc(100vh - 15em);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.unauthorized p {
  margin: 0;
}

.linkAuth {
  cursor: pointer;
  color: rgb(55, 122, 181);
  transition: 0.4s ease-in;
}

.linkAuth:hover {
  cursor: pointer;
  color: rgb(53, 152, 238);
}

.large {
  font-size: 1.3em;
  font-weight: bold;
}

.normal {
  font-size: 1em;
}

.controlledInput {
  width: 100%;
  background: transparent;
  border: 0;
}

.controlledInput:disabled {
  color: black;
}

.inputContainer {
  display: block;
  overflow: hidden;
  padding: 0 5px 0 0;
}

.shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999999;
}

.imageModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: white;
  border-radius: 10px;
}

#form-file-upload {
  height: 10em;
  width: 100%;
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  text-decoration-line: none;
  color: blue;
  font-weight: 600;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.p4 {
  padding: 1em;
}
