@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  margin-top: 45px;
  background: #f6f9fc;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  margin-left: 30px;
  margin-right: 30px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.unauthorized{
  height: calc(100vh - 15em);
  display: flex;
  align-items: center;
  justify-content: center;
}

.unauthorized p{
  color: red;
  font-weight: bold;
  font-size: 2em;
}