.nav_bar {
  width: 100%;
  display: flex;
  align-items: center;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  z-index: 1000;
}

.left_part {
  padding: 5px;
  display: flex;
  align-items: center;
  margin-left: 24px;
  text-decoration: none;
  color: black;
}

.middle_part {
  padding: 5px;
  display: flex;
  max-width: 300px;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

.home_link,
.books_link,
.contact_link {
  text-decoration: none;
  color: black;
  transition: border-bottom 0.15s;
}
.home_link:hover,
.books_link:hover,
.contact_link:hover {
  border-bottom: 3px solid rgb(55, 122, 181);
}

.right_part {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 24px;
  flex-shrink: 0;
}

.btn_login {
  height: 30px;
  width: 150px;
  border: none;
  color: white;
  background-color: rgb(55, 122, 181);
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.btn_login:hover {
  opacity: 0.8;
}

.btn_login:active {
  opacity: 0.7;
}
